<div class="row container">
  <div class="col-xs-8 col-xs-offset-2 jumbotron">
    <h3>{{model.content}}</h3>
    <p>
      Notes: {{model.notes}}
    </p>
    <hr>
    <p>
      {{model.author}}
    </p>
    <hr>
    {{new-answer question=model newAnswer="newAnswer"}}
  </div>
  <div class="col-xs-8 col-xs-offset-2">
    <h2>Answers</h2>
    {{#each model.answers as |answer|}}
      <h4>
        {{answer.content}}
      </h4><h5>
        {{answer.author}}
      </h5><p>
        {{answer.timestamp}}
      </p>
      <hr>
    {{/each}}
  </div>
</div>
